* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-style);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  text-rendering: optimizeSpeed;
  background: var(--color-primary);
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

textarea {
  border: none;
  outline: none;
  resize: none !important;
}

.bt {
  border: 1px solid red;
}

section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 90px;

  @media #{$sm} {
    padding: 0 20px;
    margin: 8px 0;
  }
}
