/*-- Variables --*/
:root {
  //font style
  --font-style: "Open Sans", sans-serif;
  --font-style-Everett: "Everett Regular";

  // Theme Color
  --color-primary: #ffffff;

  //text color
  --text-primary: #111010;
  --text-secondary: #ef001c;

  //width
  --max-width: 1440px;
}

$lg: "only screen and (min-width: 1440px)";
// Tablet
$md: "only screen and (max-width: 1024px)";
// Mobile
$sm: "only screen and (max-width: 767px)";

// @media #{$sm} {}
