.FAQ-Section {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 10px;
  max-width: 98%;
  margin-bottom: 100px;

  @media #{$sm} {
    display: flex;
    flex-direction: column;
  }
  @media #{$md} {
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-family: var(--font-style-Everett);
    font-size: 2rem;
    font-size: clamp(2rem, 1.6710526315789473rem + 1.7543859649122806vw, 3.25rem);
    font-weight: 600;
    line-height: 54px;
    color: #111010;
  }

  .fqa-question {
    font-family: var(--font-style);
    font-size: 1rem;
    font-size: clamp(1rem, 0.9671052631578947rem + 0.17543859649122806vw, 1.125rem);
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.006em;
    color: #111010;
  }

  .arrow-up {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }

  .arrow-down {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }
}
