.hero-section {
  padding-top: 36px;

  @media #{$sm} {
    padding-top: 20px;
  }

  h1 {
    font-family: var(--font-style-Everett);
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 0.1842105263157896rem + 7.017543859649122vw, 6.5rem);
    font-weight: 600;
    line-height: 112px;

    @media #{$md} {
      line-height: 50px;
    }
  }

  .hero-heading-red {
    color: #ef001c;
    padding-left: 35px;

    @media #{$md} {
      padding-left: 15px;
    }
  }

  .get-service {
    max-width: 765px;
    margin-top: 60px;

    @media #{$sm} {
      max-width: 100%;
      margin-top: 40px;
    }

    .get-service-title {
      font-family: var(--font-style);
      font-size: 0.875rem;
      font-size: clamp(0.875rem, 0.7105263157894737rem + 0.8771929824561403vw, 1.5rem);
      font-weight: 600;
      line-height: 32px;
      color: #111010;

      @media #{$sm} {
        line-height: 22px;
      }
      @media #{$md} {
        line-height: 42px;
      }
    }

    .get-service-video-btn {
      padding: 20px 32px;
      background-color: #ef001c;
      border-radius: 34px;
      position: relative;

      @media #{$sm} {
        padding: 10px 15px;
      }
    }

    .text-btn {
      font-family: var(--font-style);
      font-size: 0.875rem;
      font-size: clamp(0.875rem, 0.8421052631578947rem + 0.17543859649122806vw, 1rem);
      font-weight: 700;
      line-height: 20px;
      color: #ffffff;
      background: none;
      border: none;
    }

    .avtar-image {
      height: 48px;
      width: 48px;
    }

    .Services-names {
      font-family: var(--font-style-Everett);
      font-size: 0.875rem;
      font-size: clamp(0.875rem, 0.8421052631578947rem + 0.17543859649122806vw, 1rem);
      line-height: 20px;

      @media #{$md} {
        font-size: 20px;
        line-height: 20px;
      }

      h6 {
        font-weight: 600;
        color: #111010;
      }

      p {
        color: #11101099;
      }
    }
  }
  .video-preview-background-img {
    border-radius: 10px;
    @media #{$sm} {
      width: 350px;
    }
    @media #{$md} {
      width: 550px;
    }
  }
  .get-service-video {
    position: relative;

    .play-video-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 195.86px;
      height: 44.77px;
      background-color: hsla(0, 0%, 100%, 0.3);
      color: white;
      cursor: pointer;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);

      @media #{$md} {
        width: 300px;
        height: 60px;
      }
      img {
        margin-right: 10px;
        width: 12px;
        height: auto;
      }
    }
  }
  @media #{$sm} {
    .custom-flex-col {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 30px;
    }
    .custom-items-start {
      padding-top: 20px;
    }

    .custom-flex-col-center {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 50px;
    }
  }
  @media #{$md} {
    .custom-flex-col {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 30px;
    }
    .custom-items-start {
      padding-top: 20px;
    }

    .custom-flex-col-center {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 50px;
    }
  }
}
