.header-container {
  border-bottom: 1px solid #0000001a;

  .navbar {
    height: 86px;
    padding: 0 90px;

    @media #{$lg} {
      max-width: 1440px;
      margin-inline: auto;
    }

    @media #{$md} {
      padding: 0 50px;
    }
    @media #{$sm} {
      padding: 0 20px;
    }

    .company-logo {
      width: 209px;
      height: 38px;

      @media #{$sm} {
        width: 180px;
      }
    }

    .nav-links {
      display: flex;
      align-items: center;

      @media #{$md} {
        display: none;
      }

      a {
        display: flex;
        font-family: var(--font-style);
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;

        width: 85.5px;
        height: 20px;
        color: #707070;

        @media #{$md} {
          width: 70.5px;
          font-size: 12px;
        }

        &.active {
          color: #111010;
        }
        &.disabled {
          color: #a09f9f;
          cursor: no-drop;
        }
      }
    }
  }
  .get-btn {
    width: 136px;
    height: 30px;
    background-color: #ef001c;
    font-family: var(--font-style);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    color: #ffffff;

    @media #{$md} {
      font-size: 12px;
      width: 100px;
    }
  }
  .mobile-menu-btn {
    display: none;
    @media #{$md} {
      display: block;
    }
  }
  .mobile-menu {
    display: none;

    @media #{$md} {
      display: block;
      position: absolute;
      background-color: #ffffff;
      width: 100%;
      display: flex;
    }
  }
}
