.stats-section {
  margin: 100px 0;
  margin-bottom: 130px;

  & > div:first-child {
    margin-bottom: 30px;
  }

  .global-hr {
    width: 54px;
    border: 1px solid #ef001c;
  }
  .global-title {
    font-family: var(--font-style);
    font-size: 20px;
    font-weight: 600;
    line-height: 27.24px;
    letter-spacing: 0.06em;

    color: #ef001c;
  }

  .stats-count {
    font-family: var(--font-style-Everett);
    font-size: 86px;
    font-weight: 600;
    line-height: 88px;
    letter-spacing: -0.03em;

    .plus {
      font-family: var(--font-style-Everett);
      font-size: 86px;
      font-weight: 600;
      line-height: 88px;
      letter-spacing: -0.03em;

      color: #ef001c;
    }
  }
  .title {
    max-width: 200px;
    font-family: var(--font-style-Everett);
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;

    color: #111010;
  }
}
