.visual-impact {
  height: 166px;
  font-family: var(--font-style-Everett);
  font-size: 68px;
  font-weight: 600;
  line-height: 74px;
  letter-spacing: 2px;
  background-color: #111010;
  color: #ffffff;
  display: flex;
  align-items: center;
}
