//deafult
@import "./deafult/function";
@import "./deafult/variables";
@import "./deafult/reset.scss";

// Components
@import "./Components/navbar.scss";
@import "./Components/mainSectionHero.scss";
@import "./Components/movingLogos.scss";
@import "./Components/expertise.scss";
@import "./Components/statsSection.scss";
@import "./Components/testimonial.scss";
@import "./Components/fqaSection.scss";
